.footer {
	background-color: #2F324B;
	padding: 41px 0;
}


.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 28px;
}



.footer__block {
	display: inline-flex;
	align-items: center;
	gap: 19px;
}


.footer__info {
	width: 127px;
}

.footer__text {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.41;
}

.footer__author {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.41;
}


@media screen and (max-width:1024px) {
	.footer__author {
		color: #ffffff4d;

	}

	.footer__text-hidden {
		display: none;
	}

	.footer {
		padding: 35px 0;
	}

}

@media screen and (max-width:670px) {
	.footer {
		padding: 23px 0 15px;
		background-image: linear-gradient(transparent 60%, #2A2C3F 40%);
	}

	.footer__info {
		width: 87px;
	}

	.footer__text {
		font-size: 8px;
	}

	.footer__author {
		order: 3;
		width: 100%;
		text-align: center;
		padding-top: 10px;
	}

	.footer:after {
		width: 100%;
	}
}